.Button {
    background-color: transparent;
    border: 2px solid rgb(23, 23, 184);
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font: inherit;
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    border-radius: 8px;
}

.Button:Disabled {
    color: gray;
    cursor: not-allowed;
}

.Button:hover {
    background-color: rgb(23, 23, 184);
    color: white;
  }

.Sort {
    padding: 15px 5px;
    border: 1px solid rgb(47, 47, 194);
    font-weight: 500;
    font-size: 11px
}